* {
  font-family: "Roboto", sans-serif;
}

pre code {
  border-radius: 5px;
}

code,
code * {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

/* spinning logos */
@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation-name: spinning;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

header {
  background-color: #e8e9ea;
}

main {
  padding: 16px;
}

#content {
  margin: auto;
  padding: 8px 0;
  max-width: 800px;
}

#content h1 {
  text-align: center;
  font-size: 2.5rem;
}

#content h2 {
  font-size: 2rem;
}

#content h3 {
  font-size: 1.5rem;
}

#content h4 {
  font-size: 1.25rem;
}

#content h5 {
  font-size: 1.125rem;
}

#content h6 {
  font-size: 1rem;
}

#content p {
  text-align: justify;
}

.center {
  text-align: center !important;
}

.btn-light {
  background-color: #e8e9ea;
}

/* .hljs-keyword {
  color: #b00d49;
}

.hljs-string {
  color: #c7b300;
}

.hljs-built_in {
  color: #0049af;
  font-style: italic;
  font-weight: bold;
}

.hljs-title {
  color: #1eae02;
} */
