* {
  font-family: "Comfortaa", "Roboto", sans-serif;
}

/* spinning logos */
@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation-name: spinning;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

header {
  background-color: #e8e9ea;
}

main {
  padding: 16px;
}

#content {
  margin: auto;
  padding: 8px 0;
  max-width: 800px;
}

#content p {
  text-align: justify;
}
